[package]
name = "shy"
version = "0.1.0"
authors = ["chris west <c@xvxx.io>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
termion = "1.5.5"
better-panic = "0.2.0"